div {
  text-align: center;
}

.comingSoon {
  padding-right: 15%;
}

.eraLogo{
  animation: rotation 20s infinite linear;
  width: 100%;
  max-width: 500px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
