div {
  text-align: center;
}
a{
  text-decoration: none;
}


@media all and (orientation:portrait) {
  .eraLogo{
    animation: rotation 20s infinite linear;
    width: 80%;
  }
  .comingSoon {
    width: 80%;
  }
  .smallLogos{
    width: 70px;
    margin: 20px 30px;
  }
}

@media all and (orientation:landscape)  {
  .eraLogo{
    animation: rotation 20s infinite linear;
    width: 450px;
  }
  .comingSoon {
    padding-right: 15%;
    height: 200px;
  }
  .smallLogos{
    width: 30px;
    margin: 0 10px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
